$success: #7952b3;

@import "~bootstrap/scss/bootstrap.scss";

html {}

main {
  padding: 1.5rem;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
}

h3 {

}

.row {
  p {
  }
}

.noStretch {
    object-fit: cover;
}
